:local(.className) {

  .container {
    width: 640px;
    margin: 0 auto;
  }

  input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  ul li {
    padding: 10px 70px 10px 10px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);

    dt {
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    dd {
      font-size: 10px;
      opacity: 0.3;
    }

    button {
      top: 0;
      right: 0;
      width: 60px;
      height: 100%;
      position: absolute;
      color: white;
      font-size: 14px;
      background-color: red;
      display: none;
    }

    &:hover button {
      display: block;
    }
  }
}
