:local(.className) {
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 100%;
  margin-left: -300px;
  position: fixed;
  color: #364149;
  background-color: #fafafa;
  box-shadow: 1px 0 0 0 rgba(0,0,0,0.1);
  z-index: 9999;

  &.show {
    margin-left: 0;
  }

  nav {
    position: relative;

    #tabs {
      margin-left: 22px;

      button {
        width: 50%;
        padding: 20px;
        font-size: 16px;
        background-color: transparent;
        opacity: 0.3;

        &.active {
          opacity: 1;
          font-weight: 500;
        }
      }
    }

    #toggle {
      top: 1px;
      left: 300px;
      width: 36px;
      height: 100%;
      position: absolute;
      background-color: transparent;

      &.show {
        left: 0;
      }

      i {
        top: 50%;
        left: 10px;
        right: 10px;
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 1);
        height: 2px;
        transform: translateY(-50%);
      }

      i:first-child {
        top: calc(50% - 6px);
      }

      i:last-child {
        top: calc(50% + 6px);
      }
    }
  }

  #create {
    padding: 10px;

    input {
      width: 100%;
      height: 40px;
      padding: 10px;
      font-size: 14px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
