:local(.className) {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 100px 60px;
  z-index: 1;

  #frame {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.1), 1px 1px 0 0 rgba(0, 0, 0, 0.1);

    #layout {
      margin: 0 auto;
      position: relative;
      background-color: white;
    }
  }
}
