:local(.className) {
  height: 80px;
  padding: 20px 0;
  overflow: auto;

  .tool,
  .terrain {
    float: left;
  }

  .terrain {
    padding: 14px 0;

    .chop {
      float: left;
      width: 16px;
      height: 16px;
      margin: 0 5px;

      i {
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
      }

      &.active {
        margin: 0 5px;
        padding: 1px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
  }

  .tool,
  .size {
    padding: 10px 0;
  }

  .tool {
    button {
      margin-right: 10px;
      font-size: 16px;
      opacity: 0.5;

      &:hover,
      &.active {
        opacity: 1;
      }
    }

    .erase.active {
      color: #0028db;
    }
  }

  .size {
    float: right;
    height: 40px;
    font-size: 14px;
    overflow: auto;

    input,
    button {
      float: left;
      height: 20px;
      font-size: inherit;
    }

    input {
      width: 50px;
      text-align: center;
      appearance: none;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    button {
      width: 20px;
      color: black;
      font-size: 17px;
      line-height: 0;
    }
  }
}
