:local(.className) {
  top: 0;
  right: 0;
  height: 64px;
  position: fixed;
  color: #555;
  border-radius: 3px;
  opacity: 0.2;
  transition: 100ms;

  &:hover {
    opacity: 1;
  }

  ul, li, a {
    height: inherit;
    display: block;
  }

  ul {
    padding: 0 20px;

    li {
      float: left;
      font-size: 14px;

      a {
        padding: 22px 16px;
        color: #364149;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}
