:local(.className) {
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 100%;
  position: absolute;
  color: #364149;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  background-color: #fafafa;

  &.hide {
    margin-left: -300px;
  }

  nav {
    position: relative;

    #tabs {
      margin-left: 22px;

      button {
        width: 50%;
        padding: 20px;
        font-size: 16px;
        background-color: transparent;
        opacity: 0.3;

        &.active {
          opacity: 1;
          font-weight: 500;
        }
      }
    }

    #toggle {
      top: 0;
      left: 0;
      width: 32px;
      height: 100%;
      position: absolute;
      background-color: transparent;

      &.hide {
        left: 300px;
      }

      i {
        top: 50%;
        left: 10px;
        right: 10px;
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 1);
        height: 2px;
        transform: translateY(-50%);
      }

      i:first-child {
        top: calc(50% - 4px);
      }

      i:last-child {
        top: calc(50% + 4px);
      }
    }
  }

  #create {
    padding: 10px;

    input {
      width: 100%;
      height: 40px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  ul li {
    padding: 10px 70px 10px 10px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);

    dt {
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    dd {
      font-size: 10px;
      opacity: 0.3;
    }

    button {
      top: 0;
      right: 0;
      width: 60px;
      height: 100%;
      position: absolute;
      color: white;
      font-size: 14px;
      background-color: red;
      display: none;
    }

    &:hover button {
      display: block;
    }
  }
}
