:local(.className) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  & > header {
    padding-right: 60px;

    .item {
      width: 100%;
      height: 60px;
      padding: 10px;
      text-align: left;

      dl {
        dt {
          overflow: hidden;
          text-overflow: ellipsis;

          input {
            width: 100%;
            font-size: 16px;
            min-height: 24px;
            background-color: transparent;
          }
        }

        dd {
          font-size: 10px;
          opacity: 0.3;
        }
      }
    }
  }

  & > .body {
    display: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;

    &.active {
      display: block;
    }

    menu {
      padding: 10px 5px;
      overflow: auto;

      .add,
      .remove {
        float: left;
        width: calc(50% - 10px);
        margin: 0 5px;
        padding: 10px;
        font-size: 12px;
        text-align: center;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }

      .add {
        color: white;
        border: 1px solid #0028db;
        background-color: #0028db;
        cursor: pointer;
      }

      .remove {
        color: #f60063;
        border: 1px solid #f60063;
      }
    }

    .chops {
      padding: 10px;
      overflow: auto;

      .chop {
        float: left;
        width: 30px;
        height: 30px;
        margin: 5px;

        i {
          width: 100%;
          height: 100%;
          display: block;
          background-size: cover;
        }
      }
    }
  }
}
