:local(.className) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  & > header {
    padding-right: 60px;
    position: relative;

    .item {
      width: 100%;
      height: 60px;
      padding: 10px;
      text-align: left;

      dl {
        dt {
          font-size: 16px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        dd {
          font-size: 10px;
          opacity: 0.3;
        }
      }
    }

    .remove {
      top: 0;
      right: 0;
      width: 60px;
      height: 60px;
      display: none;
      position: absolute;
      color: white;
      font-size: 14px;
      background-color: red;
    }

    &:hover > .remove {
      display: block;
    }
  }

  & > .body {
    display: none;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    background-color: #f5f5f5;

    &.show {
      display: block;
    }

    .new {
      width: 100%;
      padding: 10px;
      font-size: 11px;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      cursor: pointer;
    }

    .choppeds {
      padding: 10px;
      overflow: auto;

      .chopped {
        float: left;
        width: 30px;
        height: 30px;
        margin: 5px;

        i {
          width: 100%;
          height: 100%;
          display: block;
          background-size: cover;
        }
      }
    }
  }
}
