:local(.className) {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.02);
  z-index: 1;
  overflow: auto;

  button {
    float: left;
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;

    &:hover.increment {
      background-color: #0028db;
    }

    &:hover.decrement {
      background-color: #f60063;
    }
  }

  &.top,
  &.bottom {
    left: 0;
    width: 100%;
    height: 20px;

    button {
      width: 50%;
      height: 100%;
    }
  }

  &.left,
  &.right {
    top: 20px;
    width: 20px;
    height: calc(100% - 40px);

    button {
      width: 100%;
      height: 50%;
    }
  }

  &.top {
    top: 0;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.bottom {
    bottom: 0;
  }
}
